<!DOCTYPE html>
<html>
<head>
    <title> Practicas "Pattern Recognition" - [Res&eacute;ndiz Arteaga Juan Alberto]</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet" media="screen"/>
</head>
<body>
<h2>Practicas Primer Parcial</h2>
<br>
<h3>Res&eacute;ndiz Arteaga Juan Alberto</h3>
<div id="tabs">
    <ul>
        <li><a href="/cubo">Practica 1 "Cubo"</a></li>
        <li><a href="/clases">Practica 2 "Clases" </a></li>
        <li><a href="/imagen">Practica 3 "Im&aacute;gen" </a></li>
        <li><a href="/banderas">Practica 3 "Banderas" </a></li>
    </ul>
    <div id="tabs-1">

    </div>
    <div id="tabs-2">

    </div>
    <div id="tabs-3">

    </div>
</div>
<script>
    $(document).ready(function(){
        $( "#tabs" ).tabs();
    });
</script>
</body>
</html>